package com.renren.userinc.servicemonitor.manual.generated;

import com.xiaonei.xce.buddybyaddtimecache.BuddyByAddTime;
import com.xiaonei.xce.buddybyaddtimecache.DefaultBuddyByAddTime;

public class BuddyByAddTimeCacheAdapter<T extends BuddyByAddTime>{
	private com.xiaonei.xce.buddybyaddtimecache.BuddyByAddTimeCacheAdapter<DefaultBuddyByAddTime> target = com.xiaonei.xce.buddybyaddtimecache.BuddyByAddTimeCacheAdapter.getInstance();
	
	private BuddyByAddTimeCacheAdapter(){}
	
	private static BuddyByAddTimeCacheAdapter<DefaultBuddyByAddTime> instance = new BuddyByAddTimeCacheAdapter<DefaultBuddyByAddTime>();
	
	public static BuddyByAddTimeCacheAdapter<DefaultBuddyByAddTime> getInstance(){
		return instance;
	}
	
	public  java.util.List<DefaultBuddyByAddTime> getFriendListWithinTime(int userId, long beginTime, long endTime)  {
		com.renren.userinc.servicemonitor.system.generated.ServiceMonitor serviceMonitor =  com.renren.userinc.servicemonitor.system.generated.ServiceMonitorFactory.getServiceMonitor();
		com.renren.userinc.servicemonitor.system.generated.MonitorBasicInfo monitorBasicInfo = new com.renren.userinc.servicemonitor.system.generated.MonitorBasicInfo();
		monitorBasicInfo.setAppId("Guide");
		monitorBasicInfo.setClassName("com.xiaonei.xce.buddybyaddtimecache.BuddyByAddTimeCacheAdapter");
		monitorBasicInfo.setMethodName("getFriendListWithinTime");
		monitorBasicInfo.setIp(com.renren.userinc.servicemonitor.system.generated.IPUtil.getLocalIp());
		try{
			serviceMonitor.begin(monitorBasicInfo);
			java.util.List<DefaultBuddyByAddTime> result = target.getFriendListWithinTime(userId, beginTime, endTime);
			serviceMonitor.end(monitorBasicInfo);
			return result;
		}catch(Throwable t){
			serviceMonitor.handleException(monitorBasicInfo, t);
			throw new RuntimeException(t);
		}
	}
	
}