package com.renren.seo.serviceproxy.manual.generated;

import com.xiaonei.xce.scorecache.DefaultScoreCache;
import com.xiaonei.xce.scorecache.ScoreCache;

public class ScoreCacheAdapter<T extends ScoreCache>{
	private com.xiaonei.xce.scorecache.ScoreCacheAdapter<DefaultScoreCache> target = com.xiaonei.xce.scorecache.ScoreCacheAdapter.getInstance();
	
	private ScoreCacheAdapter(){}
	
	private static ScoreCacheAdapter<DefaultScoreCache> instance = new ScoreCacheAdapter<DefaultScoreCache>();
	
	public static ScoreCacheAdapter<DefaultScoreCache> getInstance(){
		return instance;
	}
	
	public  com.xiaonei.xce.scorecache.DefaultScoreCache getScoreData(int userId)  {
		com.renren.seo.serviceproxy.system.generated.ServiceMonitor serviceMonitor =  com.renren.seo.serviceproxy.system.generated.ServiceMonitorFactory.getServiceMonitor();
		com.renren.seo.serviceproxy.system.generated.MonitorBasicInfo monitorBasicInfo = new com.renren.seo.serviceproxy.system.generated.MonitorBasicInfo();
		monitorBasicInfo.setAppId("Guide");
		monitorBasicInfo.setClassName("com.xiaonei.xce.scorecache.ScoreCacheAdapter");
		monitorBasicInfo.setMethodName("getScoreData");
		monitorBasicInfo.setIp(com.renren.seo.serviceproxy.system.generated.IPUtil.getLocalIp());
		try{
			serviceMonitor.begin(monitorBasicInfo);
			com.xiaonei.xce.scorecache.DefaultScoreCache result = target.getScoreData(userId);
			serviceMonitor.end(monitorBasicInfo);
			return result;
		}catch(Throwable t){
			serviceMonitor.handleException(monitorBasicInfo, t);
			throw new RuntimeException(t);
		}
	}

}