package com.renren.seo.serviceproxy.manual.generated;

import com.renren.xoa.XoaClientI;
import com.renren.seo.serviceproxy.generated.JavaDynamicProxy;

public class ServiceFactory {
	private com.renren.xoa.lite.ServiceFactory target;
	
	private static ServiceFactory instance = new ServiceFactory();
	
	private ServiceFactory(){}
	
	public static ServiceFactory getInstance(){
		return instance;
	}
	
	public void setTarget(com.renren.xoa.lite.ServiceFactory target){
		this.target = target;
	}
	
	public <T> T getService(Class<T> serviceInterface) {
		T serviceTarget = target.getService(serviceInterface);
		JavaDynamicProxy proxy = new JavaDynamicProxy();
		return (T)proxy.bind(serviceTarget);
	}

	public <T> T getService(Class<T> serviceInterface, XoaClientI client) {
		T serviceTarget = target.getService(serviceInterface, client);
		JavaDynamicProxy proxy = new JavaDynamicProxy();
		return (T)proxy.bind(serviceTarget);
	}
	
}