package com.renren.seo.serviceproxy.system.generated;

public class ServiceFactories{

	public static com.renren.seo.serviceproxy.system.generated.ServiceFactory getFactory()  {
		com.renren.xoa.lite.ServiceFactory factoryTarget = com.renren.xoa.lite.ServiceFactories.getFactory();
		ServiceFactory serviceFactoryProxy = ServiceFactory.getInstance();
		serviceFactoryProxy.setTarget(factoryTarget);
		return serviceFactoryProxy;
	}
}