package com.renren.seo.serviceproxy.system.generated;

import java.net.Inet4Address;
import java.net.InetAddress;
import java.net.NetworkInterface;
import java.net.SocketException;
import java.util.Enumeration;

public class IPUtil {
	private static String defaultIp = "127.0.0.1";
	
	private static String localIp;

	static{
		try {
			Enumeration<NetworkInterface> allNetInterfaces = NetworkInterface
					.getNetworkInterfaces();

			InetAddress ip = null;
			OutLoop: while (allNetInterfaces.hasMoreElements()) {
				NetworkInterface netInterface = (NetworkInterface) allNetInterfaces
						.nextElement();
				Enumeration<InetAddress> addresses = netInterface
						.getInetAddresses();
				while (addresses.hasMoreElements()) {
					ip = (InetAddress) addresses.nextElement();
					if (ip != null && ip instanceof Inet4Address) {
						localIp = ip.getHostAddress();
						if(!defaultIp.equals(localIp)){
							break OutLoop;
						}
						
					}
				}
			}
		} catch (SocketException e) {
			localIp = defaultIp;
		}
	}
	
	public static String getLocalIp() {
		return localIp;
	}
}
