package com.renren.userinc.servicemonitor.system.generated;

import java.text.SimpleDateFormat;
import java.util.Calendar;

public class LogAdvisor implements Advisor{

	private SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
	
	@Override
	public void doBegin(MonitorInfoBean monitorInfo) {
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + monitorInfo.toString() + "begin");
	}

	@Override
	public void doEnd(MonitorInfoBean monitorInfo) {
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + monitorInfo.toString() + "end");
	}

	@Override
	public void doException(MonitorInfoBean monitorInfo, Throwable t) {
		// 抛Exception了要先打印end信息
		//doEnd(monitorInfo);
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + monitorInfo.toString() + "Exception: " + t.getMessage());
	}

}