package com.renren.seo.serviceproxy.system.generated;

import java.text.SimpleDateFormat;
import java.util.Calendar;

public class LogAdvisor implements Advisor{

	private SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
	
	@Override
	public void doBegin(MonitorBasicInfo basicInfo) {
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + basicInfo.toString() + "begin");
	}

	@Override
	public void doEnd(MonitorBasicInfo basicInfo) {
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + basicInfo.toString() + "end");
	}

	@Override
	public void doException(MonitorBasicInfo basicInfo, Throwable t) {
		doEnd(basicInfo);
		System.out.println(sdf.format(Calendar.getInstance().getTime()) + "--" + basicInfo.toString() + "Exception: " + t.getMessage());
	}

}