package com.renren.userinc.servicemonitor.system.generated;

import com.renren.userinc.servicemonitor.system.generated.JavaDynamicProxy;

public class ServiceFactory {

	public static <T> T getService(Class<T> serviceClass) {
		T serviceTarget = com.renren.xoa2.client.ServiceFactory.getService(
				serviceClass, 250);
		JavaDynamicProxy proxy = new JavaDynamicProxy();
		return (T) proxy.bind(serviceTarget);
	}

	public static <T> T getService(Class<T> serviceClass, int timeout) {
		T serviceTarget = com.renren.xoa2.client.ServiceFactory.getService(
				serviceClass, timeout);
		JavaDynamicProxy proxy = new JavaDynamicProxy();
		return (T) proxy.bind(serviceTarget);
	}

}